[user]
    name = talentestors
    email = talentestors@gmail.com
	signingkey = 94E2FB40169EEB90
[http]
    sslVerify = false
[init]
    defaultBranch = main
[core]
    editor = nvim
    ignorecase = false # 忽略文件大小写
    autocrlf = true # windows换行符 (only Windows)
    pager =
[color]
    ui = always
[commit]
	gpgsign = false
[gpg]
	program = C:\\Users\\talentestors\\scoop\\apps\\msys2\\current\\usr\\bin\\gpg.exe
