[user]
	name = talentestors
	email = talentestors@gmail.com
[http]
	sslVerify = false
[init]
	defaultBranch = main
[core]
	editor = nvim
	ignorecase = false # 忽略文件大小写
	autocrlf = true # windows换行符 (only Windows)
	pager = 
