[user]
    name = talentestors
	email = i@yuhiri.me
	signingKey = ~/.ssh/id_ed25519.pub
[http]
    sslVerify = false
	sslBackend = schannel
[init]
    defaultBranch = main
[core]
    editor = nvim
    ignorecase = false # 忽略文件大小写
    autocrlf = true # windows换行符 (only Windows)
[color]
    ui = always
[commit]
	gpgsign = true
[gpg]
	format = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8

[gpg "ssh"]
    # git config --global gpg.ssh.allowedSignersFile "~/.ssh/allowedSigners"
    # echo "i@yuhiri.com $(cat ~/.ssh/id_ed25519.pub)" > ~/.ssh/allowedSigners
	allowedSignersFile = ~/.ssh/allowedSigners # 
