" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" --- personal settings ---

"语法高亮
syntax on
"显示行号
set number relativenumber
"显示光标所在位置的行号和列号
set ruler
set wrap                      "自动折行
set shiftwidth=4
set tabstop=4
set softtabstop=4
set expandtab                  "将tab替换为相应数量空格
set smartindent
set backspace=2
"设置取消备份 禁止临时文件生成
set nobackup
set noswapfile
" 为IdeaVim插件增加自动切换为英文输入法的功能,
" idea 需要安装 IdeaVimExtension plugin
set keep-english-in-normal
"设置匹配模式 类似当输入一个左括号时会匹配相应的那个右括号
set showmatch
"set laststatus=2   "命令行为两行
"set fenc=utf-8     "文件编码
"set mouse=a        "启用鼠标
set ignorecase     "忽略大小写
set cursorline     "突出显示当前行
"set cursorcolumn   "突出显示当前列
set showmode               " 显示当前模式
set fdm=marker
set clipboard^=unnamed,unnamedplus	" 使 IdeaVim 的剪切板与系统剪切板互通
" 映射 d 键到系统剪切板
nnoremap d "+d
vnoremap d "+d
" 映射 x 键到黑洞寄存器（直接删除不保存）
nnoremap x "_x
vnoremap x "_x
" 避免在 v 模式下写入到剪切板
vnoremap p "_dP

" --- action ---
"jk退出insert模式
"inoremap jk <ESC>

let mapleader = ' '  "设置 leader 键为空格

"Idea action 配置
" 重命令元素
nnoremap <Leader>w :action NextTab<CR>
nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>cr :action CopyReference<CR>
nnoremap <Leader>sw :action SurroundWith<CR>

"nnoremap <Leader>gi :action GotoImplementation<CR>
"nnoremap <Leader>im :action ImplementMethods<CR>
"nnoremap <Leader>rv :action IntroduceVariable<CR>
"nnoremap <Leader>em :action ExtractMethod<CR>
